<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="Suite" parallel="tests">
  <test thread-count="2" name="Test">
    <classes>
      <class name="com.actitime.testScript.DemoAssertion3"/>
      <class name="com.actitime.testScript.DemoScreenShot"/>
      <class name="com.actitime.testScript.Demo1"/>
      <class name="com.actitime.testScript.CustomerModule2"/>
      <class name="com.actitime.testScript.CustomerModule1"/>
      <class name="com.actitime.testScript.CustomerModuleListner"/>
      <class name="com.actitime.testScript.DemoAssertion2"/>
      <class name="com.actitime.testScript.ProjectModule"/>
      <class name="qsp.DemoAo"/>
      <class name="com.actitime.testScript.TaskModule"/>
      <class name="com.actitime.testScript.CustomerModule"/>
      <class name="com.actitime.testScript.CustomerModule4"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
